# Logs y Diagnósticos
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencias
node_modules
dist
dist-ssr
*.local

# Editor y Sistema Operativo
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archivos de Entorno (SEGURIDAD CRÍTICA)
# Ignora TODOS los .env...
.env
.env.*
.envrc

# ...PERO permite subir el archivo de ejemplo (¡Importante!)
!.env.example
!.env.sample

# Vite / Build Output
dist/
coverage/
